.scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #1b2945;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
