.MiddleFirst {
  background: radial-gradient(
    29.83% 178.41% at 48.33% 0%,
    #abb2bb 0%,
    #a5b7d0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.lineFinal {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ededed 54.17%,
    rgba(217, 217, 217, 0) 100%
  );
}
.mask2 {
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,

    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}
