.heroText {
  background: linear-gradient(90deg, #7debf2 18.49%, #60a4ff 78.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
}
.mask1 {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0) 85%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0) 85%
  );
}

@media only screen and (min-width: 600px) {
  .heroText {
    background: linear-gradient(90deg, #7debf2 18.49%, #60a4ff 78.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 600;
  }
  .mask1 {
    -webkit-mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
.backgroundGoo {
  width: 915px;
  height: 457px;

  background: rgba(255, 255, 255, 0.11);
  filter: blur(300px);
}
.backgroundGoo2 {
  width: 500px;
  height: 250px;
  background: rgba(99, 139, 216, 0.08);
  filter: blur(50px);
}
